.header-top .info li i {
    color: #f7941d;
}
.header-top {
    background: #262262;
}

.theme-btn.btn-one {
    background: #262262;
}

.feature-block-four .inner-box .icon-box .icon {

    background: #262262;

}
.feature-block-four .inner-box .icon-box .icon {
    color: #f7941d;
}

.search-field-two {
    background: #997a20;
}

.bg-color-2 {
    background: #262262;
}

.bg-color-footer {
    background: #f7941d;
}
.counter-block-one .inner-box .icon-box {
    color: #f7941d;
}

.bg-logo{
    background: #fff  ;
}
